:root {
    --width-desktop: 90vw;
    --width-mobile: 100vw;
    --flex-dir-col: column;
    --flex-dir-row: row;
    --bg-tab: #888;
    --bg-page: #888;
    --transition: all .15s linear;
    --blade-width: 4%;
    --blade-edges: -.75vw 0 0 #888 inset, -1.5vw 0 1.5vw #0008 inset, .75vw 0 0 #888 inset, 1.5vw 0 1.5vw #0008 inset;
    --metal-shadow-left: .5vw 0 1vw #0004 inset, .5vw 0 .5vw #0008, -.5vw 0 .5vw #0008;
    --metal-shadow-right: -.5vw 0 1vw #0004 inset, .5vw 0 .5vw #0008, -.5vw 0 .5vw #0008;
    --metal-shadow-left-select: .5vw 0 1vw #0004 inset, -.75vw 0 0 var(--bg-tab) inset, .5vw 0 .5vw #0008, -.5vw 0 .5vw #0008;
    --metal-shadow-right-select: -.5vw 0 1vw #0004 inset, .75vw 0 0 #888 inset, .5vw 0 .5vw #0008, -.5vw 0 .5vw #0008;
    --label-scale-0: 70%;
    --label-scale-1: 65%;
    --label-scale-2: 60%;
    --label-scale-3: 55%;
    --label-scale-4: 50%;
    --label-width: 75%;
    --label-height: 50%;
    --label-margin-left: auto 0 auto auto;
    --label-margin-right: auto auto auto 0;
    --label-font-size: 2vw;
    --label-font-size-select: 2.5vw;
    --dualtab-selected: 0 3vh 3vh #fff6 inset;
    --dualtab: 0 -2vh 2vh #0004 inset;
}
@media screen and (orientation: portrait) {
    :root {
        --flex-dir-col: row;
        --flex-dir-row: column;
        --metal-shadow-left: 0 .5vh 1vh #0004 inset, 0 .5vh .5vh #0008, 0 -.5vh .5vh #0008;
        --metal-shadow-right: 0 -.5vh 1vh #0004 inset, 0 .5vh .5vh #0008, 0 -.5vh .5vh #0008;
        --metal-shadow-left-select: 0 .5vh 1vh #0004 inset, 0 -.75vh 0 var(--bg-tab) inset, 0 .5vh .5vh #0008, 0 -.5vh .5vh #0008;
        --metal-shadow-right-select: 0 -.5vh 1vh #0004 inset, 0 .75vh 0 #888 inset, 0 .5vh .5vh #0008, 0 -.5vh .5vh #0008;
        --label-width: 50%;
        --label-height: 75%;
        --label-margin-left: auto auto 0 auto;
        --label-margin-right: 0 auto auto auto;
        --label-font-size: 2vh;
        --label-font-size-select: 2.5vh;
    }
}